<a href="https://colab.research.google.com/github/aiscience-22/UA_War/blob/machine_learning_0.03/Twitter_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import os
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:5 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:6 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:7 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:8 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:9 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Ign:10 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:11 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:12 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Reading package lists... Done

In [2]:
# Download a Postgres driver that will allow Spark to interact with Postgres
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-08-30 22:59:41--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  1.59MB/s    in 0.6s

2022-08-30 22:59:42 (1.59 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
# Add drivers to Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [6]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://uaresources.s3.us-west-1.amazonaws.com/twitter_sentiments.csv"

spark.sparkContext.addFile(url)
text_df = spark.read.csv(SparkFiles.get("twitter_sentiments.csv"), sep=",", header=True, inferSchema=True)


# Show DataFrame
text_df.show()

+---------+---------+-----------+--------------------+-------------------+------------+--------------------+--------+--------------+----------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|following|followers|totaltweets|       usercreatedts|     tweetcreatedts|retweetcount|            hashtags|language|favorite_count|is_retweet|is_quote_status|         extractedts|        cleaned_text|            negative|             neutral|            positive|
+---------+---------+-----------+--------------------+-------------------+------------+--------------------+--------+--------------+----------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|       51|     3362|      71331|2011-09-08 02:34:...|2022-08-01 00:00:00|           0|[{'text': 'Russia...|      en|           0.0|     false|          false|2022-08-01 02:30:...|the conflict is b...|  0.6027117371559143|  0.3816339075565338|  0.0156544279307127|
|      137|   114789|     315096|2010-08-20 11:19:...|2022-08-01 00:00:01|           0|[{'text': 'Ukrain...|      en|           1.0|     false|          false|2022-08-01 01:44:...|the world is in d...|  0.8760229349136353| 0.11690667271614075|0.007070484571158886|
|     7284|     6963|     264990|2009-06-07 05:36:...|2022-08-01 00:00:01|           0|[{'text': 'Ukrain...|      en|           1.0|     false|          false|2022-08-01 02:36:...|owner of ukraines...|  0.8333819508552551| 0.16298656165599823|0.003631420433521...|
|     1080|    14429|      35346|2013-05-11 18:28:...|2022-08-01 00:00:02|           1|[{'text': 'Iran',...|      en|           2.0|     false|          false|2022-08-01 05:13:...|why  relations li...|  0.4097643494606018|  0.5677175521850586|0.022518066689372063|
|     1980|     1827|      67996|2007-03-23 21:01:...|2022-08-01 00:00:02|           1|[{'text': 'ToryFa...|      en|           0.0|      true|           true|2022-08-01 02:36:...|its happening on ...| 0.06149579584598541|  0.8488444089889526| 0.08965984731912613|
|      421|       87|       6591|2013-07-09 15:55:...|2022-08-01 00:00:03|           0|[{'text': 'kosovo...|      en|           0.0|     false|          false|2022-08-01 00:29:...|serbian vucic is ...|  0.9745429158210754|0.023634416982531548|0.001822606194764...|
|      478|      163|       6760|2014-12-26 00:31:...|2022-08-01 00:00:08|          76|[{'text': 'Ukrain...|      en|           0.0|      true|          false|2022-08-01 02:30:...|russian rocket ki...|  0.9219619035720825| 0.07327494770288467|0.004763160366564989|
|      155|       15|      16148|2014-07-29 13:13:...|2022-08-01 00:00:09|         282|[{'text': 'Russia...|      en|           0.0|      true|          false|2022-08-01 00:51:...|legion freedom of...|  0.0326119139790535|  0.9228765368461609| 0.04451160877943039|
|     5001|     1912|     163860|2012-06-23 01:23:...|2022-08-01 00:00:10|         454|[{'text': 'sancti...|      en|           0.0|      true|          false|2022-08-01 00:51:...|are italian compa...|  0.2644941508769989|  0.6772770285606384|  0.0582287460565567|
|      478|       59|      34296|2009-10-19 22:54:...|2022-08-01 00:00:10|          43|[{'text': 'Ukrain...|      en|           0.0|      true|          false|2022-08-01 01:44:...|turkey refused ru...|  0.5558522343635559|  0.4350818991661072|0.009065911173820496|
|     5001|     1365|      77636|2014-01-03 09:33:...|2022-08-01 00:00:11|          29|[{'text': 'Ukrain...|      en|           0.0|      true|          false|2022-08-01 02:36:...|zelensky formal l...| 0.15101107954978943|  0.7638165354728699|  0.0851723775267601|
|       74|     1543|         23|2011-01-12 05:49:...|2022-08-01 00:00:19|        1052|[{'text': 'Oleniv...|      en|           0.0|      true|          false|2022-08-01 00:06:...|i condemn brutal ...|  0.9047191143035889| 0.09236498177051544|0.002915868535637...|
|      746|      442|      24758|2009-06-04 14:09:...|2022-08-01 00:00:21|           8|[{'text': 'Russia...|      en|           0.0|      true|          false|2022-08-01 01:44:...| a new video of a...|0.042681001126766205|  0.9255278706550598| 0.03179115802049637|
|     1330|      306|       2011|2009-01-12 17:56:...|2022-08-01 00:00:24|         384|[{'text': 'Ukrain...|      en|           0.0|      true|          false|2022-08-01 01:44:...|good night world ...|0.002705698134377...| 0.06929384917020798|  0.9280004501342773|
|      383|       50|       9707|2010-09-13 16:18:...|2022-08-01 00:00:29|          25|[{'text': 'Kosovo...|      en|           0.0|      true|          false|2022-08-01 00:29:...|support for kosov...| 0.10012583434581757| 0.49994635581970215| 0.39992785453796387|
|     4990|      565|      83755|2012-06-11 17:01:...|2022-08-01 00:00:35|         235|[{'text': 'ActOnC...|      en|           0.0|      true|          false|2022-08-01 02:36:...|reminder russia c...|  0.8852719664573669| 0.11040213704109192|0.004325922578573227|
|      804|      340|      35100|2011-11-16 19:45:...|2022-08-01 00:00:45|         276|[{'text': 'Faroes...|      en|           0.0|      true|          false|2022-08-01 00:51:...|this kills me a b...|  0.9716231822967529|0.026602070778608322|0.001774684293195...|
|      184|      151|        251|2013-08-28 12:23:...|2022-08-01 00:00:46|           0|[{'text': 'Kosovo...|      en|           1.0|     false|          false|2022-08-01 00:29:...|why are you choos...|  0.3273519277572632|  0.6276887059211731| 0.04495938494801521|
|     2031|     2051|     106112|2014-03-14 17:16:...|2022-08-01 00:00:48|         384|[{'text': 'Ukrain...|      en|           0.0|      true|          false|2022-08-01 01:44:...|good night world ...|0.002705698134377...| 0.06929384917020798|  0.9280004501342773|
|       59|      187|      21958|2013-02-12 03:01:...|2022-08-01 00:00:51|        1315|[{'text': 'StandW...|      en|           0.0|      true|          false|2022-08-01 02:36:...|today prime minis...|0.018899668008089066| 0.25686609745025635|  0.7242342233657837|
+---------+---------+-----------+--------------------+-------------------+------------+--------------------+--------+--------------+----------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [7]:
# Drop null values
text_df=text_df.dropna()
text_df.show()

+---------+---------+-----------+--------------------+-------------------+------------+--------------------+--------+--------------+----------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|following|followers|totaltweets|       usercreatedts|     tweetcreatedts|retweetcount|            hashtags|language|favorite_count|is_retweet|is_quote_status|         extractedts|        cleaned_text|            negative|             neutral|            positive|
+---------+---------+-----------+--------------------+-------------------+------------+--------------------+--------+--------------+----------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|       51|     3362|      71331|2011-09-08 02:34:...|2022-08-01 00:00:00|           0|[{'text': 'Russia...|      en|           0.0|     false|          false|2022-08-01 02:30:...|the conflict is b...|  0.6027117371559143|  0.3816339075565338|  0.0156544279307127|
|      137|   114789|     315096|2010-08-20 11:19:...|2022-08-01 00:00:01|           0|[{'text': 'Ukrain...|      en|           1.0|     false|          false|2022-08-01 01:44:...|the world is in d...|  0.8760229349136353| 0.11690667271614075|0.007070484571158886|
|     7284|     6963|     264990|2009-06-07 05:36:...|2022-08-01 00:00:01|           0|[{'text': 'Ukrain...|      en|           1.0|     false|          false|2022-08-01 02:36:...|owner of ukraines...|  0.8333819508552551| 0.16298656165599823|0.003631420433521...|
|     1080|    14429|      35346|2013-05-11 18:28:...|2022-08-01 00:00:02|           1|[{'text': 'Iran',...|      en|           2.0|     false|          false|2022-08-01 05:13:...|why  relations li...|  0.4097643494606018|  0.5677175521850586|0.022518066689372063|
|     1980|     1827|      67996|2007-03-23 21:01:...|2022-08-01 00:00:02|           1|[{'text': 'ToryFa...|      en|           0.0|      true|           true|2022-08-01 02:36:...|its happening on ...| 0.06149579584598541|  0.8488444089889526| 0.08965984731912613|
|      421|       87|       6591|2013-07-09 15:55:...|2022-08-01 00:00:03|           0|[{'text': 'kosovo...|      en|           0.0|     false|          false|2022-08-01 00:29:...|serbian vucic is ...|  0.9745429158210754|0.023634416982531548|0.001822606194764...|
|      478|      163|       6760|2014-12-26 00:31:...|2022-08-01 00:00:08|          76|[{'text': 'Ukrain...|      en|           0.0|      true|          false|2022-08-01 02:30:...|russian rocket ki...|  0.9219619035720825| 0.07327494770288467|0.004763160366564989|
|      155|       15|      16148|2014-07-29 13:13:...|2022-08-01 00:00:09|         282|[{'text': 'Russia...|      en|           0.0|      true|          false|2022-08-01 00:51:...|legion freedom of...|  0.0326119139790535|  0.9228765368461609| 0.04451160877943039|
|     5001|     1912|     163860|2012-06-23 01:23:...|2022-08-01 00:00:10|         454|[{'text': 'sancti...|      en|           0.0|      true|          false|2022-08-01 00:51:...|are italian compa...|  0.2644941508769989|  0.6772770285606384|  0.0582287460565567|
|      478|       59|      34296|2009-10-19 22:54:...|2022-08-01 00:00:10|          43|[{'text': 'Ukrain...|      en|           0.0|      true|          false|2022-08-01 01:44:...|turkey refused ru...|  0.5558522343635559|  0.4350818991661072|0.009065911173820496|
|     5001|     1365|      77636|2014-01-03 09:33:...|2022-08-01 00:00:11|          29|[{'text': 'Ukrain...|      en|           0.0|      true|          false|2022-08-01 02:36:...|zelensky formal l...| 0.15101107954978943|  0.7638165354728699|  0.0851723775267601|
|       74|     1543|         23|2011-01-12 05:49:...|2022-08-01 00:00:19|        1052|[{'text': 'Oleniv...|      en|           0.0|      true|          false|2022-08-01 00:06:...|i condemn brutal ...|  0.9047191143035889| 0.09236498177051544|0.002915868535637...|
|      746|      442|      24758|2009-06-04 14:09:...|2022-08-01 00:00:21|           8|[{'text': 'Russia...|      en|           0.0|      true|          false|2022-08-01 01:44:...| a new video of a...|0.042681001126766205|  0.9255278706550598| 0.03179115802049637|
|     1330|      306|       2011|2009-01-12 17:56:...|2022-08-01 00:00:24|         384|[{'text': 'Ukrain...|      en|           0.0|      true|          false|2022-08-01 01:44:...|good night world ...|0.002705698134377...| 0.06929384917020798|  0.9280004501342773|
|      383|       50|       9707|2010-09-13 16:18:...|2022-08-01 00:00:29|          25|[{'text': 'Kosovo...|      en|           0.0|      true|          false|2022-08-01 00:29:...|support for kosov...| 0.10012583434581757| 0.49994635581970215| 0.39992785453796387|
|     4990|      565|      83755|2012-06-11 17:01:...|2022-08-01 00:00:35|         235|[{'text': 'ActOnC...|      en|           0.0|      true|          false|2022-08-01 02:36:...|reminder russia c...|  0.8852719664573669| 0.11040213704109192|0.004325922578573227|
|      804|      340|      35100|2011-11-16 19:45:...|2022-08-01 00:00:45|         276|[{'text': 'Faroes...|      en|           0.0|      true|          false|2022-08-01 00:51:...|this kills me a b...|  0.9716231822967529|0.026602070778608322|0.001774684293195...|
|      184|      151|        251|2013-08-28 12:23:...|2022-08-01 00:00:46|           0|[{'text': 'Kosovo...|      en|           1.0|     false|          false|2022-08-01 00:29:...|why are you choos...|  0.3273519277572632|  0.6276887059211731| 0.04495938494801521|
|     2031|     2051|     106112|2014-03-14 17:16:...|2022-08-01 00:00:48|         384|[{'text': 'Ukrain...|      en|           0.0|      true|          false|2022-08-01 01:44:...|good night world ...|0.002705698134377...| 0.06929384917020798|  0.9280004501342773|
|       59|      187|      21958|2013-02-12 03:01:...|2022-08-01 00:00:51|        1315|[{'text': 'StandW...|      en|           0.0|      true|          false|2022-08-01 02:36:...|today prime minis...|0.018899668008089066| 0.25686609745025635|  0.7242342233657837|
+---------+---------+-----------+--------------------+-------------------+------------+--------------------+--------+--------------+----------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [23]:
# Check data types
text_df.info()

AttributeError: ignored

In [26]:
# Change the dtypes of usercreatedts, tweetcreatedts, and extractedts to datetime64 for easier operation later
text_df["usercreatedts"] = pd.to_datetime(text_df["usercreatedts"])
text_df["tweetcreatedts"] = pd.to_datetime(text_df["tweetcreatedts"])
text_df["extractedts"] = pd.to_datetime(text_df["extractedts"])

# check dtypes
text_df.info()

ValueError: ignored

In [25]:
# Visualize tweet sentiment by date
# get dates in the dataframe 
dates = text_df["tweetcreatedts"].dt.day
# group tweet timestamps by date and get average negative score for each date
negative_by_date = text_df[["tweetcreatedts", "negative"]].groupby(dates).avg('negative')

# plot bar graph of tweet count by date
negative_by_date.plot.line();

plt.title("Negative Tweet Sentiments by Date")
plt.xlabel("Tweet Date")
plt.ylabel("Negative Sentiment")
plt.xticks(rotation=0)
plt.show()

AnalysisException: ignored

**Get our transformed raw data into our database**

In [13]:
# Store environmental variable
from getpass import getpass
password = getpass('password')
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://tweets.cnzbbvrrhst7.us-west-1.rds.amazonaws.com:5432/postgres"
config = {"user":"uatweets",
          "password": password,
          "driver":"org.postgresql.Driver"}

password··········

In [15]:
# Write DataFrame to active_user table in RDS
text_df.write.jdbc(url=jdbc_url, table='twitter_sentiments.csv', mode=mode, properties=config)

Py4JJavaError: ignored