In [1]:
# Importing the libraries needed
import pandas as pd
import numpy as np
import json
import scipy 
import torch
from torch.utils.data import Dataset, DataLoader
import logging
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 252 kB in 11s (21.9 kB/s)
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-08-30 02:38:11--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‚Äòpostgresql-42.2.16.jar.7‚Äô

postgresql-42.2.16. 100%[===================>] 979.38K  5.49MB/s    in 0.2s

2022-08-30 02:38:11 (5.49 MB/s) - ‚Äòpostgresql-42.2.16.jar.7‚Äô saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("UA_War").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [4]:
#import data from aws s3 bucket for 1 day. This will be the starting dataframe to populate DB

from pyspark import SparkFiles
url = "https://databootcamps3bucket.s3.us-west-2.amazonaws.com/ua_war/UkraineWar/0224_UATweets.csv.gz"
spark.sparkContext.addFile(url)

df_start_date = spark.read.option("delimiter", ",").option("encoding", "UTF-8").option("multiLine", True).option("escape", '"').csv(SparkFiles.get("0224_UATweets.csv.gz"),  header=True, inferSchema=True)

# df.show(truncate=False) 
df_start_date_2 = df_start_date.na.fill("<empty>")
df_start_date_2.show(5)

+---+-------------------+---------------+--------------------+------------------+---------+---------+-----------+--------------------+-------------------+--------------------+------------+--------------------+--------------------+--------+-----------+--------------+--------------------+
|_c0|             userid|       username|            acctdesc|          location|following|followers|totaltweets|       usercreatedts|            tweetid|      tweetcreatedts|retweetcount|                text|            hashtags|language|coordinates|favorite_count|         extractedts|
+---+-------------------+---------------+--------------------+------------------+---------+---------+-----------+--------------------+-------------------+--------------------+------------+--------------------+--------------------+--------+-----------+--------------+--------------------+
|  0|          962369743|       toonspt_|‡∏û‡∏¢‡∏£‡∏•‡∏Å üòâ\n‡∏à‡∏∞‡πÄ‡∏õ‡∏¥‡∏î‡πÅ...|           <empty>|      462|        7|      20549|2012-11-21 13:01:...|1496738675085897729|2022-02-24 06:48:...|        1897|Footage of the ai...|[{'text': 'Ukrain...|      en|    <empty>|             0|2022-02-24 06:51:...|
|  1| 865846412755353600| SabrinaBbsmith|‡∏≠‡πâ‡∏≤‡∏¢‡∏Ñ‡∏∑‡∏≠‡∏õ‡∏£‡∏¥‡∏ç‡∏ç‡∏≤‡πÉ‡∏à‡∏ô‡πâ...|    Just go for it|      385|      503|      84016|2017-05-20 08:27:...|1496738675140538368|2022-02-24 06:48:...|        3534|12.37 ‡∏ô. ‡πÄ‡∏à‡∏°‡∏™‡πå ‡∏ß‡∏≠...|                  []|      th|    <empty>|             0|2022-02-24 06:51:...|
|  2|         1927022036|     haleggwenn|Mathe & Kulturant...|G√∂ttingen, Germany|      251|       51|         78|2013-10-02 14:19:...|1496738675522248706|2022-02-24 06:48:...|           0|Die Rede von #Put...|[{'text': 'Putin'...|      de|    <empty>|             0|2022-02-24 06:51:...|
|  3|         1073676020|IndiaTodayFLASH|No dragging feet ...|           <empty>|      117|  1152610|     589066|2013-01-09 12:46:...|1496738675584954371|2022-02-24 06:48:...|          18|Ukraine MP Sophia...|[{'text': 'ITVide...|      en|    <empty>|             0|2022-02-24 06:51:...|
|  4|1484119658488033281| sandsand_fight|             <empty>|           <empty>|      128|        3|        691|2022-01-20 11:05:...|1496738675710857224|2022-02-24 06:48:...|        3974|‡∏£‡∏±‡∏™‡πÄ‡∏ã‡∏µ‡∏¢‡∏¢‡∏¥‡∏á‡∏Ç‡∏µ‡∏õ‡∏ô‡∏≤‡∏ß‡∏∏...|[{'text': '‡∏£‡∏±‡∏™‡πÄ‡∏ã‡∏µ...|      th|    <empty>|             0|2022-02-24 06:51:...|
+---+-------------------+---------------+--------------------+------------------+---------+---------+-----------+--------------------+-------------------+--------------------+------------+--------------------+--------------------+--------+-----------+--------------+--------------------+
only showing top 5 rows

In [5]:
#see what the datatypes for df_8018 
df_start_date.dtypes

[('_c0', 'int'),
 ('userid', 'bigint'),
 ('username', 'string'),
 ('acctdesc', 'string'),
 ('location', 'string'),
 ('following', 'int'),
 ('followers', 'int'),
 ('totaltweets', 'int'),
 ('usercreatedts', 'string'),
 ('tweetid', 'bigint'),
 ('tweetcreatedts', 'string'),
 ('retweetcount', 'int'),
 ('text', 'string'),
 ('hashtags', 'string'),
 ('language', 'string'),
 ('coordinates', 'string'),
 ('favorite_count', 'int'),
 ('extractedts', 'string')]

In [6]:
from pyspark import SparkFiles
from pyspark.sql.functions import *

#use this to determine which type of drop is needed. Also not all all dates have same number of columns 
df_start_date_count = len(df_start_date.columns)
if df_start_date_count == 18:
  df_start_date_2 = df_start_date_2.withColumn("is_retweet", lit(None).cast('boolean')) 
  df_start_date_2 = df_start_date_2.withColumn("is_quote_status", lit(None).cast('boolean')) 

len(df_start_date_2.columns)

20

In [7]:
from pyspark.sql.functions import *

#1. Drop Uncessary Columns using the data set of 08-18-2022 as a starting point. 
cleaned_df = df_start_date_2.drop("userid", "_c0", "acctdesc", "location", "tweetid", "coordinates", "original_tweet_id", "original_tweet_userid", "original_tweet_username", "in_reply_to_status_id", "in_reply_to_screen_name", 'in_reply_to_user_id', "quoted_status_id", "quoted_status_username", "quoted_status_userid")

#2. change columns from string to year:month:day date format
cleaned_df = cleaned_df.withColumn("usercreatedts",to_date("usercreatedts"))
cleaned_df = cleaned_df.withColumn("tweetcreatedts",to_date("tweetcreatedts"))
cleaned_df = cleaned_df.withColumn("extractedts",to_date("extractedts"))

#3. filter out langauge = english only
cleaned_df = cleaned_df.filter(cleaned_df["language"]=="en")
cleaned_df = cleaned_df.filter(cleaned_df["usercreatedts"] < "2009-01-01")

cleaned_df.show(5)

+--------+---------+---------+-----------+-------------+--------------+------------+--------------------+--------------------+--------+--------------+-----------+----------+---------------+
|username|following|followers|totaltweets|usercreatedts|tweetcreatedts|retweetcount|                text|            hashtags|language|favorite_count|extractedts|is_retweet|is_quote_status|
+--------+---------+---------+-----------+-------------+--------------+------------+--------------------+--------------------+--------+--------------+-----------+----------+---------------+
|ozsultan|     9525|     9593|      71105|   2007-06-27|    2022-02-24|           0|@EricLMitchell He...|[{'text': 'Russia...|      en|             1| 2022-02-24|      null|           null|
|Liddokun|     1428|      407|      20985|   2008-05-23|    2022-02-24|           3|Stock markets tum...|                  []|      en|             0| 2022-02-24|      null|           null|
|judacris|      911|     3846|     162997|   2008-11-24|    2022-02-24|        1888|Footage of the ai...|[{'text': 'Ukrain...|      en|             0| 2022-02-24|      null|           null|
| Lkhagva|     5755|    85904|      83953|   2008-10-15|    2022-02-24|           9|#Russia has annou...|[{'text': 'Russia...|      en|             0| 2022-02-24|      null|           null|
| paikini|      200|       42|       7134|   2008-11-28|    2022-02-24|          26|The world must ac...|[{'text': 'Ukrain...|      en|             0| 2022-02-24|      null|           null|
+--------+---------+---------+-----------+-------------+--------------+------------+--------------------+--------------------+--------+--------------+-----------+----------+---------------+
only showing top 5 rows

In [8]:
cleaned_df_count = cleaned_df.count()
cleaned_df_count

14500

In [ ]:
all_dates_arr = ["0224", "0227", "0228p1", "0228p2", "0301", "0302", "0303", "0304", "0305", "0306", "0307", "0308", "0309","0310", "0311", "0312", "0313", "0314", "0315", "0316", "0317", "0318", "0319", "0320", "0321", "0322", "0323", "0324", "0325", "0326", "0327", "0328", "0329", "0330", "0331",
 "0401", "0402", "0403", "0404", "0405", "0406", "0407", "0408", "0409","0410", "0411", "0412", "0413", "0414", "0415", "0416", "0417", "0418", "0419", "0420", "0421", "0422", "0423", "0424", "0425", "0426", "0427", "0428", "0429", "0430",
 "0501", "0502", "0503", "0504", "0505", "0506", "0507", "0508", "0509","0510", "0511", "0512", "0513", "0514", "0515", "0516", "0517", "0518", "0519", "0520", "0521", "0522", "0523", "0524", "0525", "0526", "0527", "0528", "0529", "0530", "0531",
 "0601", "0602", "0603", "0604", "0605", "0606", "0607", "0608", "0609","0610", "0611", "0612", "0613", "0614", "0615", "0616", "0617", "0618", "0619", "0620", "0621", "0622", "0623", "0624", "0625", "0626", "0627", "0628", "0629", "0630",
 "0701", "0702", "0703", "0704", "0705", "0706", "0707", "0708", "0709","0710", "0711", "0712", "0713", "0714", "0715", "0716", "0717", "0718", "0719", "0720", "0721", "0722", "0723", "0724", "0725", "0726", "0727", "0728", "0729", "0730", "0731",
 "0801", "0802", "0803", "0804", "0805", "0806", "0807", "0808", "0809","0810", "0811", "0812", "0813", "0814", "0815", "0816", "0817", "0818"]

In [10]:
date_arr_feb = ["0227", "0228p1", "0228p2"]

In [ ]:
date_arr_march = ["0301", "0302", "0303", "0304", "0305", "0306", "0307", "0308", "0309","0310", "0311", "0312", "0313", "0314", "0315", "0316", "0317", "0318", "0319", "0320", "0321", "0322", "0323", "0324", "0325", "0326", "0327", "0328", "0329", "0330", "0331"]

In [ ]:
date_arr_april = [ "0401", "0402", "0403", "0404", "0405", "0406", "0407", "0408", "0409","0410", "0411", "0412", "0413", "0414", "0415", "0416", "0417", "0418", "0419", "0420", "0421", "0422", "0423", "0424", "0425", "0426", "0427", "0428", "0429", "0430"]

In [ ]:
date_arr_may = [ "0501", "0502", "0503", "0504", "0505", "0506", "0507", "0508", "0509","0510", "0511", "0512", "0513", "0514", "0515", "0516", "0517", "0518", "0519", "0520", "0521", "0522", "0523", "0524", "0525", "0526", "0527", "0528", "0529", "0530", "0531"]

In [ ]:
date_arr_june = [ "0601", "0602", "0603", "0604", "0605", "0606", "0607", "0608", "0609","0610", "0611", "0612", "0613", "0614", "0615", "0616", "0617", "0618", "0619", "0620", "0621", "0622", "0623", "0624", "0625", "0626", "0627", "0628", "0629", "0630"]

In [ ]:
date_arr_july = [ "0701", "0702", "0703", "0704", "0705", "0706", "0707", "0708", "0709","0710", "0711", "0712", "0713", "0714", "0715", "0716", "0717", "0718", "0719", "0720", "0721", "0722", "0723", "0724", "0725", "0726", "0727", "0728", "0729", "0730", "0731"]

In [ ]:
date_arr_august = [ "0801", "0802", "0803", "0804", "0805", "0806", "0807", "0808", "0809","0810", "0811", "0812", "0813", "0814", "0815", "0816", "0817", "0818"]

In [11]:
from pyspark import SparkFiles
from pyspark.sql.functions import *

url = "https://databootcamps3bucket.s3.us-west-2.amazonaws.com/ua_war/UkraineWar"

for day in date_arr_feb:
      #load the data from aws
      aws_url = f"{url}/{day}_UATweets.csv.gz"
      spark.sparkContext.addFile(aws_url)
      temp_df = spark.read.option("delimiter", ",").option("encoding", "UTF-8").option("multiLine", True).option("escape", '"').csv(SparkFiles.get(f"{day}_UATweets.csv.gz"),  header=True, inferSchema=True)
      
      #keep count number of columns to determine which if else block it will hit
      temp_count = len(temp_df.columns)

      #change columns from string to year:month:day date format
      temp_df = temp_df.withColumn("usercreatedts",to_date("usercreatedts"))
      temp_df = temp_df.withColumn("tweetcreatedts",to_date("tweetcreatedts"))
      temp_df = temp_df.withColumn("extractedts",to_date("extractedts"))

      #filter out data for english only 
      temp_df = temp_df.filter(temp_df["language"]=="en")
      #filter out usercreated before 2009
      temp_df = temp_df.filter(temp_df["usercreatedts"] < "2009-01-01")

      #fill in null values 
      temp_df_2 = temp_df.na.fill("<empty>")

      #some days the data columns has less columns then other days 
      if temp_count == 18:
        temp_df_3 = temp_df_2.drop("userid", "_c0", "acctdesc", "location", "tweetid", "coordinates")
        temp_df_3 = temp_df_3.withColumn("is_retweet", lit(None).cast('boolean')) 
        temp_df_3 = temp_df_3.withColumn("is_quote_status", lit(None).cast('boolean')) 

      elif temp_count == 29:
        temp_df_3 = temp_df_2.drop("userid", "_c0", "acctdesc", "location", "tweetid", "coordinates", "original_tweet_id", "original_tweet_userid", "original_tweet_username", "in_reply_to_status_id", "in_reply_to_screen_name", 'in_reply_to_user_id', "quoted_status_id", "quoted_status_username", "quoted_status_userid")

      else:
        print(f"Error on {day}_UATweets.csv.gz and column count {temp_count}")

      cleaned_df = cleaned_df.unionByName(temp_df_3)
      print(f"{day} - {cleaned_df.count()}")

0227 - 19730
0228p1 - 22771
0228p2 - 25122

In [13]:
cleaned_df.show(5)

+---------------+---------+---------+-----------+-------------+--------------+------------+--------------------+--------------------+--------+--------------+-----------+----------+---------------+
|       username|following|followers|totaltweets|usercreatedts|tweetcreatedts|retweetcount|                text|            hashtags|language|favorite_count|extractedts|is_retweet|is_quote_status|
+---------------+---------+---------+-----------+-------------+--------------+------------+--------------------+--------------------+--------+--------------+-----------+----------+---------------+
|       toonspt_|      462|        7|      20549|   2012-11-21|    2022-02-24|        1897|Footage of the ai...|[{'text': 'Ukrain...|      en|             0| 2022-02-24|      null|           null|
|IndiaTodayFLASH|      117|  1152610|     589066|   2013-01-09|    2022-02-24|          18|Ukraine MP Sophia...|[{'text': 'ITVide...|      en|             0| 2022-02-24|      null|           null|
|     Areopagiet|     5008|      267|       9894|   2018-09-13|    2022-02-24|        1552|A cruise missile ...|[{'text': 'Ukrain...|      en|             0| 2022-02-24|      null|           null|
|    Sicarius130|      459|      272|      57829|   2015-10-08|    2022-02-24|        1032|SPREAD AND SHARE,...|[{'text': 'Ukrain...|      en|             0| 2022-02-24|      null|           null|
|      qwerty_cr|      595|     1243|       2620|   2018-12-18|    2022-02-24|        1897|Footage of the ai...|[{'text': 'Ukrain...|      en|             0| 2022-02-24|      null|           null|
+---------------+---------+---------+-----------+-------------+--------------+------------+--------------------+--------------------+--------+--------------+-----------+----------+---------------+
only showing top 5 rows

In [12]:
#add week column for "tweetcreatedts"
cleaned_df = cleaned_df.withColumn("weekofyear",weekofyear("tweetcreatedts"))

In [13]:
cleaned_df.show(5)

+--------+---------+---------+-----------+-------------+--------------+------------+--------------------+--------------------+--------+--------------+-----------+----------+---------------+----------+
|username|following|followers|totaltweets|usercreatedts|tweetcreatedts|retweetcount|                text|            hashtags|language|favorite_count|extractedts|is_retweet|is_quote_status|weekofyear|
+--------+---------+---------+-----------+-------------+--------------+------------+--------------------+--------------------+--------+--------------+-----------+----------+---------------+----------+
|ozsultan|     9525|     9593|      71105|   2007-06-27|    2022-02-24|           0|@EricLMitchell He...|[{'text': 'Russia...|      en|             1| 2022-02-24|      null|           null|         8|
|Liddokun|     1428|      407|      20985|   2008-05-23|    2022-02-24|           3|Stock markets tum...|                  []|      en|             0| 2022-02-24|      null|           null|         8|
|judacris|      911|     3846|     162997|   2008-11-24|    2022-02-24|        1888|Footage of the ai...|[{'text': 'Ukrain...|      en|             0| 2022-02-24|      null|           null|         8|
| Lkhagva|     5755|    85904|      83953|   2008-10-15|    2022-02-24|           9|#Russia has annou...|[{'text': 'Russia...|      en|             0| 2022-02-24|      null|           null|         8|
| paikini|      200|       42|       7134|   2008-11-28|    2022-02-24|          26|The world must ac...|[{'text': 'Ukrain...|      en|             0| 2022-02-24|      null|           null|         8|
+--------+---------+---------+-----------+-------------+--------------+------------+--------------------+--------------------+--------+--------------+-----------+----------+---------------+----------+
only showing top 5 rows

In [14]:
cleaned_df.dtypes

[('username', 'string'),
 ('following', 'int'),
 ('followers', 'int'),
 ('totaltweets', 'int'),
 ('usercreatedts', 'date'),
 ('tweetcreatedts', 'date'),
 ('retweetcount', 'int'),
 ('text', 'string'),
 ('hashtags', 'string'),
 ('language', 'string'),
 ('favorite_count', 'int'),
 ('extractedts', 'date'),
 ('is_retweet', 'boolean'),
 ('is_quote_status', 'boolean'),
 ('weekofyear', 'int')]

### Connect to the AWS RDS instance and write each DataFrame to its table.

In [15]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://tweets.cnzbbvrrhst7.us-west-1.rds.amazonaws.com:5432/ua_data"
config = {"user":"uatweets", 
          "password": password, 
          "driver":"org.postgresql.Driver"}

Enter database password¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑

In [16]:
# Write review_id_df to table in RDS
cleaned_df.write.jdbc(url=jdbc_url, table='tweets_table', mode=mode, properties=config)